body{
    background-color: black;
    font-family: 'Roboto','Courier New', Courier, monospace;
}

.list:hover{
    background-color: chartreuse;
}

.estilo{
    color: #6c757d;
}

.estilo:hover{
    color: chartreuse;
    transition: 1s;

}

input{
    background-color: transparent;
    font-weight: 700;
    border: transparent;
    text-align: center;
    color: chartreuse;
}

.navLink{
    color: #6c757d;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
}

.navLink:hover{
    color: chartreuse;
    transition: 1s;
}

.navRow,
nav{
    height: 60px;
}

.carouselExampleCaptions{
    height: 200px;
}

.conferir{
    background-color: rgb(245, 241, 241);
}

.conferir:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

li{
    list-style-type: none;
}

.inputPesquisar{
    background-color: transparent;
    border: 2px solid chartreuse;
    width: 100%;
    margin-left: 10px;
    border-radius: 10px;
    height: 2rem;
    color: chartreuse;
}

.btnPesquisar{
    background-color: transparent;
    border: 2px solid chartreuse;
    border-radius: 10px;
    height: 2rem;
    padding: 0 0.5rem;
    color: chartreuse;
}

.black-friday{
    background-color: black;
    color: chartreuse;
    width: 77%;
    margin: -12.4% 0% 0% 12%;
}

.smart-whatches{
    color: chartreuse;
}

.section-mais-vendidos{
    display: flex;
}
.imagem{
    width: 200px;
}